@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex; 
  padding: 0.5em;
  width: 100%;
}